---
title: Article Page
notes: This is demo of a basic text page.
layout: blank
labels:
  - inprogress
  - prototype
styles:
  - article
---
<header id="masthead">
    <nav role="navigation" class="moz-global-nav" id="moz-global-nav">
      <div class="nav-horizontal-menu">

        <button type="button" class="nav-button-menu" id="nav-button-menu">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 25" width="12" height="25">
            <title>Menu</title>
              <rect class="p1" fill="#231f20" x="3" width="5" height="6"></rect>
              <rect class="p2" fill="#231f20" x="3" y="9.5" width="5" height="6"></rect>
              <rect class="p3" fill="#231f20" x="3" y="19" width="5" height="6"></rect>
          </svg>
        </button>

        <h2 class="nav-logo">
          <a href="#">Mozilla</a>
        </h2>

        <ul class="nav-primary-links">
          <li class="item-firefox">
            <a href="#">Firefox</a>
          </li>
          <li class="item-pocket">
            <a href="#">Pocket</a>
          </li>
          <li class="item-internet-health">
            <a href="#">Internet Health</a>
          </li>
          <li class="item-technology">
            <a href="#">Technology</a>
          </li>
          <li class="item-about-us">
            <a href="#">About Us</a>
          </li>
          <li class="item-get-involved">
            <a href="#">Get Involved</a>
          </li>
        </ul>

        <div id="global-nav-download-firefox">
          <a href="#" class="download-link">Download Firefox</a>
        </div>
    </div>
  </nav>
</header>


<main class="mzp-has-sidebar mzp-l-sidebar-left mzp-l-content">

  <aside class="mzp-l-sidebar">
    <nav class="mzp-c-sidemenu">
      <h4 class="mzp-c-sidemenu-title"><a href="#">Menu Title</a></h4>
      <ul>
        <li><a href="#">Menu item one</a></li>
        <li><a href="#">Menu item two</a></li>
        <li><a href="#">Menu item three</a></li>
      </ul>
    </nav>

    <nav class="mzp-c-sidemenu">
      <h4 class="mzp-c-sidemenu-title"><a href="#">Second menu</a></h4>
      <ul>
        <li><a href="#">This menu item has a longer label that will wrap to a few lines, please don't do this</a></li>
        <li><a href="#">And one more menu item</a></li>
      </ul>
    </nav>
  </aside>

  <article class="mzp-c-article">
    <h1 class="mzp-c-article-title">Article Title</h1>

    <div class="mzp-c-article-intro">
      <p>Et pri porro ceteros tacimates, est at option dignissim intellegat.
        Tollit fuisset urbanitas nec no, feugiat sensibus an mea, nominavi
        <a href="#">interpretaris te eam</a>. No virtute imperdiet pro, ut
        pro sint viderer philosophia. Torquatos necessitatibus sit in, ad
        sit summo molestie adolescens, liber oratio veniam in per.</p>
    </div>

    <ul class="mzp-c-article-links">
      <li>
        <h4><a href="#">
          Mozilla Foundation Security Advisories
        </a></h4>
        for all products
      </li>
      <li>
        <h4><a href="#">
          Known vulnerabilities
        </a></h4>
        listed by product
      </li>
      <li>
        <h4>
          <a href="#">The Mozilla Blog
        </a></h4>
        announces all of our releases
      </li>
      <li>
        <h4><a href="#">
          The Mozilla Security Blog
        </a></h4>
        features security-related articles about Mozilla products.
      </li>
    </ul>

    <p>Dicta constituam ad nam, viderer consectetuer nec at. Sea no malorum
      epicurei, aperiri verterem eu duo, ei mel nostro dissentias. Qui adipisci
      principes hendrerit ea, per dicit aperiri persius ut, te nobis dicant
      suscipiantur eam. Ne sale invenire eloquentiam sit. In meliore maiestatis
      vim. At labore alterum mel, pri at rebum affert.</p>

    <p>No qui option timeam impetus, dolor salutatus pertinacia ea eam, at
      inani summo democritum vis. Est id quis admodum tractatos, ei ius
      eligendi platonem, maiorum eleifend et eam. Ei odio cetero voluptatibus
      ius, prima blandit epicurei te cum. Illud verterem principes vix te,
      te pro tale dicit. Debitis senserit no quo, vix et altera mollis
      scaevola. Sit no soleat aperiri vituperata. Qui <a href="#">id placerat
      euripidis</a>.</p>

    <h2>Tale augue splendide in quo</h2>

    <ul class="mzp-u-list-styled">
      <li>Diam repudiare vel cu.</li>
      <li>Meis augue regione mei at, <a href="#">ornatus epicurei</a> ius eu.</li>
      <li>Nam nemore consulatu et, alia hinc ex pro. Sumo rebum ea his, cu
        possit nostro interesset has. Vide mollis eleifend cum cu, nec an
        aeque simul concludaturque.</li>
      <li>Eius omnium appellantur eam ne, pri an unum appellantur. Cu ius tota
        posse dicant, autem quodsi evertitur eum no.</li>
    </ul>

    <h3>Affert graeco eum id</h3>

    <p>An quo epicurei placerat repudiare. Ut cetero molestiae mei, per id
      efficiantur consectetuer, in paulo repudiare vim. Inermis delectus
      adipiscing eos ad, sed ei graeci eleifend intellegam. Eu abhorreant
      neglegentur duo, eu mei nisl mundi.</p>

    <ol class="mzp-u-list-styled">
      <li>Veniam saperet corrumpit in has. Vim movet doming concludaturque an,
        elitr libris sit ei. Ut vel probo viris, qui persius scripserit
        repudiandae ut.</li>
      <li>Eum doming forensibus at. Has an justo aperiam evertitur. Sea dolor
        nullam scripta ea, possit appareat pericula ea pro.</li>
      <li>Mei sint consequuntur ei, est ut quando omittam, possim efficiendi sed id.</li>
    </ol>

    <p>Suavitate comprehensam ea nam, tacimates vituperata vim te. Usu in
      laboramus maiestatis definitionem, noster complectitur at vim. Qui ut
      doctus sententiae percipitur, vivendum mediocritatem ea eum. Eu cum
      tantas nostrud, ea docendi blandit nec, vis id aeterno intellegat
      accommodare.</p>
  </article>

</main>


<footer id="colophon">
  <div class="content">
    <nav class="primary">
      <div class="logo">
        <a href="#" data-link-type="footer" data-link-name="Mozilla">Mozilla</a>
      </div>
      <section class="mozilla">
        <h5>
          <a href="#">Mozilla</a>
        </h5>
        <ul class="mozilla-links">
          <li><a href="#">About</a></li>
          <li><a href="https://blog.mozilla.org/">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Donate</a></li>
          <li><a href="https://wiki.mozilla.org/Webdev/GetInvolved/mozilla.org">Contribute to this site</a></li>
          <li><a href="#">Source code for this page</a></li>
        </ul>
      </section>
      <section class="firefox">
        <h5>
          <a href="#">Firefox</a>
        </h5>
        <ul class="firefox-links">
          <li><a href="#">Download Firefox</a></li>
          <li><a href="#">Desktop</a></li>
          <li><a href="#">Mobile</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Beta, Nightly, Developer Edition</a></li>
        </ul>
      </section>
    </nav>

    <nav class="secondary">
        <div class="small-links">
          <ul>
            <li><a rel="nofollow" href="#">Website Privacy Notice</a></li>
            <li><a rel="nofollow" href="#">Cookies</a></li>
            <li><a rel="nofollow" href="#">Legal</a></li>
          </ul>
          <p class="license">
            Portions of this content are ©1998–2018 by individual mozilla.org
            contributors. Content available under a <a rel="license" href="#">Creative Commons license</a>.
          </p>
        </div>
    </nav>
  </div>
</footer>

