// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../includes/lib';


:link,
:visited {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        background-color: #f5f5f5;
        text-decoration: underline;
    }

    &:focus {
        outline: 1px dotted $color-text-primary;
        text-decoration: underline;
    }
}

:link {
    color: $color-link;
}

:visited {
    color: $color-link-visited;
}
