// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../includes/lib';


// We most frequently use lists for semantic structure and don't actually
// want to display them as lists. It's simpler to reset lists globally
// and only display them as lists in text when needed with the .mzp-u-list-styled class.
ul, ol {
    list-style: none;
}

ul.mzp-u-list-styled {
//    list-style: disc;
    margin-left: $layout-sm;

    li {
        margin-bottom: .25em;

        &:before {
            content: '•';
            float: left;
            font-size: 1.25em;
            line-height: 1.25;
            margin-left: -$layout-xs;
        }
    }

    ul {
        margin-left: $layout-xs;
        margin-bottom: 0;

        li:before {
            content: '\25e6';
        }
    }

    ol {
        list-style: decimal;
        margin-left: $layout-xs;
        margin-bottom: 0;
    }
}

ol.mzp-u-list-styled {
    list-style: decimal;
    margin-left: $layout-sm;

    li {
        margin-bottom: .25em;
    }

    ol {
        list-style: lower-alpha;
        margin-left: $layout-xs;
        margin-bottom: 0;
    }

    ul {
        list-style: disc;
        margin-left: 20px;
        margin-bottom: 0;
    }
}

[dir='rtl'] {
    ul.mzp-u-list-styled,
    ol.mzp-u-list-styled {
        margin-left: 0;
        margin-right: $layout-sm;

        li:before {
            float: right;
            margin-left: 0;
            margin-right: -$layout-xs;
        }

        ul,
        ol {
            margin-left: 0;
            margin-right: $layout-xs;
        }
    }
}

/* !important required for print stylesheet overrides */
.mzp-u-list-unstyled {
    list-style: none !important; /* stylelint-disable-line declaration-no-important */
    margin-left: 0 !important; /* stylelint-disable-line declaration-no-important */
    margin-right: 0 !important; /* stylelint-disable-line declaration-no-important */

    ul,
    ol {
        list-style: none !important; /* stylelint-disable-line declaration-no-important */
        margin-left: 0 !important; /* stylelint-disable-line declaration-no-important */
        margin-right: 0 !important; /* stylelint-disable-line declaration-no-important */
    }
}
