// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// Text colors
$color-text-primary:    #000;
$color-text-secondary:  #484848;
$color-text-tertiary:   #666;

// Brand colors
$color-brand-neonblue:      #0ff;
$color-brand-lemonyellow:   #fff44f;
$color-brand-warmred:       #ff4f5e;
$color-brand-neongreen:     #54ffbd;
$color-brand-darkpurple:    #6e008b;
$color-brand-darkgreen:     #005e5e;
$color-brand-darkblue:      #00458b;
$color-brand-darkgray:      #959595;
$color-brand-lightgray:     #e7e5e2;

// Link colors
$color-link:                #34d;
$color-link-visited:        #848;

// UI Colors
$color-offblack:        #323232;

// Button colors
$color-button-light:    #fff;
$color-button-dark:     #00539f;
$color-button-green:    #16da00;
$color-button-orange:   #f26c23;
$color-button-blue:     #0a84ff;
$color-button-red:      #c13832;


$color-black: #000000;
$color-primary: #000000;

$color-white: #ffffff;
$color-secondary: #ffffff;

$color-cyan-light: #a2ffff;
$color-cyan: #00ffff;
$color-cyan-dark: #00e5e5;

$color-yellow-light: #fff9a3;
$color-yellow: #fff44f;
$color-yellow-dark: #f7e800;

$color-red-light: #fe7c87;
$color-red: #ff4f5e;
$color-red-dark: #e53c4a;

$color-green-light: #adffdf;
$color-green: #54ffbd;
$color-green-dark: #2ce69e;

$color-teal-light: #25bcbc;
$color-teal: #0f8f8f;
$color-teal-dark: #005e5e;

$color-purple-light: #9f54b2;
$color-purple: #6e008b;
$color-purple-dark: #4f0164;

$color-blue-light: #539ee9;
$color-link-hover: #539ee9;
$color-blue: #2374c6;
$color-link: #2374c6;
$color-blue-dark: #00458b;
$color-link-active: #00458b;

$color-gray-light: #e7e7e7;
$color-gray: #c8c8c8;
$color-gray-dark: #959595;
